h1{
    color:palevioletred;
    background-color:silver;
    text-align: center;
    font-size:50px;
    font-weight: bold;
    border-radius: 20px;

}
#nav a{
    font-size:30px;
    font-weight: bolder;
    text-align: right;
    display: inline-block;
    justify-content: space-between;
    margin-left: 20px;
    padding-top:10px;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow: palevioletred;
    color: palevioletred;
}
h2{
    text-align: center;
    color:palevioletred;
    font-size: 50px;
    font-weight: bold;
}
#about h2 img{
    padding-right: 20px;
    margin-right: 10px;
    border-color: aqua;
    border-radius: 10px;
} 
#about p{
    font-size: x-large;
    text-align: center;
}
li{
    font-size:x-large;
}
h3{
    font-size: 30px;
    color:palevioletred;
    text-align: center;
}
h1 img{
    padding-right: 50px;
    margin-right: 2px; 
    border:3px solid palevioletred;
    border-radius: 9px;
}
h3 img{
    border: palevioletred;
    margin-right: 10px;
    border-radius: 9px;
}
/* #projects img{
    display: block;
    margin-left: auto;
    margin-right: auto; */
}
h4{
    font-size: larger;
}
body{
    background-color:powderblue;
}
#contacts{
    text-align: center;
    font-size: x-large;
}
span.first{
    color:palevioletred;
}
span.second{
    color: palevioletred;
}
span.first:hover{
    color: blueviolet;
}
span.second:hover{
    color: blueviolet;
}
.footer{
    text-align: center;
    background-color: palevioletred;
    font-size: x-large;
    border-radius: 10px;
}