h1{
    color:palevioletred;
    background-color:silver;
    text-align: center;
    font-size:50px;
    font-weight: bold;

}
#nav a{
    font-size:30px;
    font-weight: bolder;
    text-align: right;
    display: inline-block;
    justify-content: space-between;
    margin-left: 20px;
    padding-top:10px;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow: palevioletred;
}
h2{
    text-align: center;
    color:palevioletred;
    font-size: 50px;
    font-weight: bold;
}
#about h2 img{
    padding-right: 20px;
    margin-right: 10px;
    border-color: aqua;
} 
#about p{
    font-size: larger;
    text-align: center;
}
li{
    font-size: larger;
}
h3{
    font-size: 30px;
    color:palevioletred;
    text-align: center;
}
h1 img{
    padding-right: 50px;
    margin-right: 2px; 
    border:3px solid palevioletred
}
h3 img{
    border: palevioletred;
    margin-right: 10px;
}
#projects img{
    float: inline-start;
}
h4{
    font-size: larger;
}